section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* TODO: Add a margin property */
  margin: 5px;
  /* TODO: Add a padding property */
  padding: 5px;
  /* TODO: Add a border property */
  border: solid black 3px;
}
