/* TODO: Label selector type */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  /* This is a basic selector, will match all elemants of the document. */

/* TODO: Label selector type */
body {
  background-color: lemonchiffon;
}
/* This is a type selector, selects all elements that have been given that respective name, <section> or <article> for example. */

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}
/* Here, the selectors are grouped using ","  */

figure {
  width: 200px;
  background-color: #f0ead6;
}
/* This is a type selector, selects all elements that have been given that respective name, <section> or <article> for example. */

/* TODO: Label selector type */
.highlighted-text {
  font-weight: bolder;
}
/* This is a class selector. It selects all elements that have the given class attribute (in this case class="highlighted-text").  */

/* TODO: Label selector type */
#contact-section {
  background-color: #f0ead6;
}
/* This is an id selector. t selects all elements that have the given id attribute (in this case id="contact-section"). */